html {
  --knowit-sand: #e4e1db;
  --knowit-black: #333333;
  --knowit-forest: #4b6455;
}

#slide-content {
  background-color: var(--knowit-sand);
  color: var(--knowit-black);
  background-image: url("./Logotype-Knowit-Digital-black.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 70px;
}

#slide-content h1 {
  color: var(--knowit-forest);
}

.col-right {
  padding-left: 2em;
}

.image-on-right {
  max-height: 60vh;
}

.withScroll pre {
  max-height: 450px;
}

img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
